{% extends 'base.html' %}
{% block head %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket;
    $(document).ready(function(){
        socket = io.connect('http://' + document.domain + ':' + location.port + '/rooms/connect?room={{room.get_id()}}');
        socket.on('connect', function() {
            socket.emit('join', {});
        });
        socket.on('status', function(data) {
            $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });
        socket.on('message', function(data) {
            $('#chat').val($('#chat').val() + data.msg + '\n');
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });
        $('#send').click(function(e) {
                text = $('#text').val();
                $('#text').val('');
                socket.emit('text', {msg: text});
        });
    });
    function leave_room() {
        socket.emit('left', {}, function() {
            socket.disconnect();
            // go back to the login page
            window.location.href = "{{ url_for('index') }}";
        });
    }
</script>
{% endblock head %}
{% block content%}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        ROOMS
      </p>
    </div>
  </div>
  </div>

</section>

<section class="section">
  <h1 class="title">{{room.get_name()}}</h1>
  <h2 class="subtitle">
    {{room.get_description()}}
  </h2>

  {% if current_user.get_id() in room.get_admin() %}
  <!-------------------- TODO SORT THIS B------------------->
  <div class="control">
    <button class="button">Settings</button>
  </div>
  {% endif %}

</section>

<section class="section">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
            <p class="title is-4" id="title">Sender</p>
            <p class="subtitle is-5" id ="subtitle">Message </p>
        </div>
      </div>
    </div>
  </div>
  <form>
    <div class="field has-addons">
      <div class="control is-expanded">
        <input type="text" class="input" name="userInput" placeholder="Type your message">
      </div>
      <div class="control">
        <button class="button is-info">Send</button>
      </div>
    </div>
  </form>
</section>
{% endblock%}